@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #111827;
	font-family: Poppins !important;
}
.product-list::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.product-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.page-wrap {
	display: flex;
	gap: 1rem;
	width: 100vw;
}

.sidebar {
	height: 100vh;
	width: 20%;
	background: #0b0b45;
}

.product-list {
	width: 55%;
	padding-top: 1rem;
	height: 100vh;
	overflow-y: auto;
}

.cart {
	background: #111827;
	max-height: 95vh;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
}

.categories, .products {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.category, .product {
	background: #fff;
	border-radius: 8px;
	width: 27%;
	padding: 1rem;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.category .category-icon {
	display: block;
	font-size: 2.5rem;
	color: #0f172a;
}
.category h3 {
	font-family: Poppins;
	font-size: 16px;
	line-height: 2px;
	color: #0f172a;
	text-transform: capitalize;
}
.category p {
	font-family: Quicksand;
	font-weight: bold;
	font-size: 12px;
	line-height: 2px;
	color: #334155;
}

.category:nth-child(even) {
	background: #c084fc;
}

.category:nth-child(odd) {
	background: #60a5fa;
}

/* Divider */
.divider {
	width: 100%;
	height: 2px;
	background-color: #334155;
	margin: 1.5rem 0;
}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.brand {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.brand img {
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

.brand h2 {
	font-family: Poppins;
	color: #f3f5f6;
}

/* nav items */
.nav-items ul {
	padding-left: 0;
	padding-right: 1rem;
}

.nav-items ul li {
	list-style: none;
	border-radius: 0 8px 8px 0;
	padding-left: 1rem;
}

.nav-items ul li a {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 10px 20px;
	padding-left: 0;
	text-decoration: none;
	color: #f3f5f6;
	font-family: Poppins;
	font-size: 16px;
	border-radius: 6px;
}

.nav-items ul li.active {
	background-color: #083ba9;
}

.nav-items ul li:hover {
	background-color: #083aa9;
	transition: all .3s ease;
}

/* profile */
.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	background-color: #083aa9;
	border-radius: 15px 15px 0 0;
}

.profile-detail {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.profile-detail img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profile-detail div p {
	margin-bottom: 0;
	color: #e5e5e5;
	line-height: 10px;
	font-size: 18px;
}

.profile-detail div span {
	font-family: Montserrat;
	margin: 0;
	color: #b3b3d3;
	font-size: 12px;
	font-style: italic;
}

.sign-out a button {
	height: 30px;
	width: 30px;
	background-color: transparent;
	font-size: 20px;
	border: none;
	outline: none;
}

/* Products */
.product {
	background-color: #1f2937;
	border-left: 8px solid #1d4ed8;
	height: 120px !important;
	width: 26% !important;
}
.product span {
	font-family: Poppins;
	font-size: 10px;
	color: #64748b;
}
.product h3 {
	font-family: Poppins;
	letter-spacing: 1px;
	font-size: 16px;
	color: #cbd5e1;
	line-height: 3px;
}
.product p {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 16px;
	color: #64748b;
	line-height: 5px;
}

/* Cart */
.cart .checkout {
	background-color: #1f2937;
	border-radius: 8px;
	padding: 1rem;
}